<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row valign-wrapper medium-height">
      <div class="col s6">
        <div class="container center-align">
        <div class="col s12">Inscrivez-vous maintenant</div>
        <a class="waves-effect waves-light btn" style="margin-top:10px;" href="{% url 'signup' %}">S'inscrire</a>
        </div>
      </div>
      <div class="col s6">
        <div class="container center-align">
        <div class="col s12">Connectez-vous</div>
        <div class="row">
        <form action="/login/" method="post" role="form">
                {% csrf_token %}
          <div class="input-field col s12">
            <input type="text" name="username" placeholder="Utilisateur">
          </div>
            <div class="input-field col s12">
            <input type="password" name="password" placeholder="Mot de passe">
          </div>
          <button class="right waves-effect waves-light btn" type="submit" value="login">Se connecter</button>
        </form>
      </div>
      </div>
        </div>
</div>


{% endblock %}