{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row container">
    <div class="col s8 offset-s2">
        <div>
        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include 'ticket_snippet_posts.html' with post=post %}
            {% elif post.content_type == 'REVIEW' %}
                {% include 'review_snippet_posts.html' with post=post %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'js/feed.js' %}">
</script>

{% endblock %}