
<div class="post">
<div>{% if request.user == post.user %} Vous avez
{% else %} {{ post.user }} a
{% endif %} publié une critique</div>
<div class="right-align time">{{ post.time_created }}</div>
<div>{{ post.headline }}</div>

{% if post.rating  == 1 %}
    &#9733;&#9734;&#9734;&#9734;&#9734;
{% elif post.rating == 2 %}
    &#9733;&#9733;&#9734;&#9734;&#9734;
{% elif post.rating == 3 %}
	&#9733;&#9733;&#9733;&#9734;&#9734;
{% elif post.rating == 4 %}
	&#9733;&#9733;&#9733;&#9733;&#9734;
{% elif post.rating == 5 %}
	&#9733;&#9733;&#9733;&#9733;&#9733;
{% endif %}

<div>{{ post.body }}</div>
{% if post.ticket is not null %}
<div class="post">
<div>{% if request.user == post.user %} Vous avez
{% else %} {{ post.user }} a
{% endif %} demandé une critique</div>
<div>{{ post.ticket.title }}</div>
<div>{{ post.ticket.image }}</div>
</div>
{% endif %}
    </br>
<div class="row">
<div class="col offset-s7"><a class="waves-effect waves-light btn" href="{% url 'edit-review' id_review=post.id %}">Modifier</a></div>
<div class="col"><a class="waves-effect waves-light btn" href="{% url 'delete-review' id_review=post.id %}">Supprimer</a></div>
</div>
</div>
