{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row container">
<div class="col s8 offset-s2">

<div class="center-align">Créer un ticket</div>

<form action="" method="post">
    {% csrf_token %}
<span>Titre</span>
<input name="titre" id="titre">

<span>Description</span>
<input name="description" id="description">


<span>Headline</span>
<input name="headline" id="headline">

<span>Commentaire</span>
<input name="commentaire" id="commentaire">

    <input type="submit" value="OK">
</form>

</div>
</div>
{% endblock %}