{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="row container">
<div class="col s8 offset-s2">
</br>
<div class="center-align">Créer un ticket</div>



<form action="" method="post">
    {% csrf_token %}
<span>Titre</span>
<input name="titre" id="titre">

<span>Description</span>
<input name="description" id="description">

 <div class="right-align"><input type="submit" value="Envoyer" class="waves-effect waves-light btn espace"></div>
</form>
</div>
</div>
{% endblock %}