.headtitle {
border: solid 1px black;
text-align: center;
padding: 10px 0;
}

body {
border: solid 1px black;
}

.medium-height {
height: 400px;
}

.bordure-bouton {
margin: 10px 0px;
}

.post {
border:2px solid darkcyan;
margin-top: 10px;
padding:3px;
}

.follow-input {
    width:60%!important;
    margin-right: 90px!important;
}

.time {
    margin-right: 20px;
    font-size: 13px;
}

.espace {
    margin: 15px;
}

.head-espace {
    margin: 10px 0 10px 0;
}

.titre-critique {
    margin: 10px 0 20px 0;
    font-weight: bold;
}
